# MittiLok Gaon - Environment Variables
# If running MongoDB locally:
MONGODB_URI=mongodb://127.0.0.1:27017/mittilok_gaon

# If using MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/mittilok_gaon?retryWrites=true&w=majority
